<!DOCTYPE html>
<html>
    <head>
        <title>Opportunity Detail</title>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<h1 id="header">Opportunity Detail</h1>
		<form id="editform" action="opportunity" method="post">
			<input type="hidden" name="id" id="id" value="<%= @opportunity['Id'] %>" />
			<table>
				<tr><td>Name:</td><td><input name="Name" id="Name" value="<%= @opportunity['Name'] %>"/></td></tr>
				<tr><td>ID:</td><td><input name="Industry" id="Industry" value="<%= @opportunity['Exony_Opportunity_ID__c'] %>"/></td></tr>
				<tr><td>StageName:</td><td><input name="StageName" id="StageName" value="<%= @opportunity['StageName'] %>"/></td></tr>
			</table>
			<br/>
			<input type="submit" id="action" name="<%= @action_name %>" value="<%= @action_value %>" />
		</form>
		<p><a href="/">Home</a></p>
	</body>
</html>